/* Base Styling for Navbar */
.navbar {
  background-color: #2c3e50;
  color: rgb(240, 251, 255); // #f0fbff
  padding: 1rem;
  font-size: 1.2rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-item {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: inherit;

    &:hover {
      background-color: #34495e; // abit lighter than the background
      cursor: pointer;
    }
  }

  /* Dropdown styling */
  .nav-dropdown {
    position: relative;
    font-size: inherit;
      font-family: inherit;

    .nav-dropdown-toggle {
      background: none;
      border: none;
      cursor: pointer;
      outline: none;
      color: inherit;
      padding: 0.5rem 1rem;
      font-size: inherit;
        font-family: inherit;

      &:hover {
        background-color: #34495e;
      }
    }

    .nav-dropdown-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #34495e;
      border: 1px solid #ecf0f1;
      z-index: 1;

      .nav-dropdown-item {
    text-decoration: none;
        padding: 0.5rem 1rem;
        display: block;
        color: #ecf0f1;

        &:hover {
          background-color: #2c3e50;
        }
      }
    }

    &:hover {
      .nav-dropdown-menu {
        display: block;
      }
    }
  }
}
