/* You can add global styles to this file, and also import other style files */
/* Style for the container when credit card data is available */
body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #4285f4;
  /* Google's primary blue color */
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
}

/* Style for the credit card details */
strong {
  font-weight: bold;
}

details {
  margin-top: 10px;
}

summary {
  cursor: pointer;
  font-weight: bold;
}

/* Style for loading message */
#loading {
  margin-top: 20px;
  font-style: italic;
  color: #888;
  font-family: 'Roboto', sans-serif;
  /* Use the Roboto font for consistency */
}

.SnackbarSuccess {
  font-size: large;
  background-color: #43a047;
  --mdc-snackbar-container-color: #43a047;
}

.SnackbarError {
  background-color: #d32f2f;
  --mdc-snackbar-container-color: #d32f2f;
}

.SnackbarWarning {
  background-color: #ffa000;
  --mdc-snackbar-container-color: #ffa000;
}

.SnackbarInfo {
  //darkblue
  background-color: midnightblue;
    --mdc-snackbar-container-color: midnightblue;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
