/* You can add global styles to this file, and also import other style files */
/* Style for the container when credit card data is available */
@import "~ag-grid-community/styles/ag-grid.css";
@import "~ag-grid-community/styles/ag-theme-alpine.css";
body {
  font-family: 'Roboto', sans-serif;
}
flex-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

h1 {
  color: #4285f4;
  /* Google's primary blue color */
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
}

/* Style for the credit card details */
strong {
  font-weight: bold;
}

details {
  margin-top: 10px;
}

summary {
  cursor: pointer;
  font-weight: bold;
}

/* Style for loading message */
#loading {
  margin-top: 20px;
  font-style: italic;
  color: #888;
  font-family: 'Roboto', sans-serif;
  /* Use the Roboto font for consistency */
}

.SnackbarSuccess {
  font-size: large;
  background-color: #43a047;
  --mdc-snackbar-container-color: #43a047;
}

.SnackbarError {
  background-color: #d32f2f;
  --mdc-snackbar-container-color: #d32f2f;
}

.SnackbarWarning {
  background-color: #ffa000;
  --mdc-snackbar-container-color: #ffa000;
}

.SnackbarInfo {
  //darkblue
  background-color: midnightblue;
    --mdc-snackbar-container-color: midnightblue;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #e2c0c0;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}
